.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  .image {
    width: 100px;
    height: 100px;
  }

  .p {
    font-size: large;
  }
}
